/*Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Begin Styles */

body {
	background-image: url(img/background.jpg);
	background-size: 1400px;
	background-repeat: no-repeat;
}

h1 {
	position: relative; top: -110px;
	margin: 10px;
	padding: 10px;
	font-family: "Amatic SC", serif;
	font-size: 75px;
	color: #FFFCE5;
	text-shadow: 1px 1px 3px #888;
}

img {
	float: left;
}

#redream_logo {
	width: 220px;
	height: 220px;
	font-family: 'Amatic SC', cursive;
	font-size: 48px;
	text-align:center;
	line-height: 210px;
	color: #ffffff;
	position: absolute;
	z-index: 2;
}

.instructions {
	position: relative; top: 170px; left: 240px;
	font-size: 36px;
	font-family: "economica", sans-serif;
	color: white;
	z-index: 1;
}

#dream-text-input-box {
	margin: 0 10px 0 20px;
	padding: 10px;
	width: 100%; 
}

#dream-text-input {
	width: 380px;
	height: 240px;
	position: absolute; top: 140px; left: 125px;
	margin-top: 50px;
	padding: 10px;
	position: relative;
	font-family: "economica", sans-serif;
	font-size: 20px;
	color: white;
	background-color: #b4a66b;
	border-radius: 10px;
	border: none;
	z-index: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=90);
	-moz-opacity: 0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
	-moz-box-shadow: 0 0 3px 1px #b4a66b;
	-webkit-box-shadow: 0 0 3px 1px #b4a66b;
	box-shadow: 0 0 3px 1px #b4a66b;
}

#dream-text-input:hover {
	background-color: #B87F4D;
	-moz-transition: background-color 20s, -moz-transform 20s;
    -webkit-transition: background-color 20s, -webkit-transform 20s;
    -o-transition: background-color 20s, -o-transform 20s;
    transition: background-color 20s, transform 20s;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=90);
	-moz-opacity: 0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
}

#dream-text-input:focus {
      outline:0;
      outline:none;
}

#dream-input-button {
	position: relative; top: 160px; left: 260px;
	padding: 6px 8px;
	font-size: 36px;
	font-family: "economica", sans-serif;
	color: white;
	background-color: #d9c78f;
	border: none;
	border-radius: 5px;
	-moz-box-shadow: 0 0 2px 1px #d9c78f;
	-webkit-box-shadow: 0 0 2px 1px #d9c78f;
	box-shadow: 0 0 2px 1px #d9c78f;
	z-index: 1;
}

#dream-input-button:active {
	background-color: #b4a66b;
	-moz-box-shadow: 0 0 2px 1px #b4a66b;
	-webkit-box-shadow: 0 0 2px 1px #b4a66b;
	box-shadow: 0 0 2px 1px #b4a66b;
}

#smallCircle {
	width: 220px;
	height: 220px;
	background-color: #d8ca81;
	border-radius: 50%;
	position: absolute;
    left: 0;
    top: 0;
	-webkit-box-shadow: 0 0 4px 2px #edeab7;
    -moz-box-shadow: 0 0 4px 2px #edeab7;
    box-shadow: 0 0 4px 2px #edeab7;
	z-index: 1;
	
	filter: blur(2px);
  	-webkit-filter: blur(2px);
  	-moz-filter: blur(2px);
  	-o-filter: blur(2px);
 	-ms-filter: blur(2px);
}

#largeCircle {
	width: 530px;
	height: 530px;
	background-color: #cfbc6d;
	border-radius: 50%;
	position: absolute;
    left: 90px;
    top: 90px;
	z-index: 0;
	
	filter: blur(2px);
  	-webkit-filter: blur(2px);
  	-moz-filter: blur(2px);
  	-o-filter: blur(2px);
 	-ms-filter: blur(2px);
}

#largeCircleOpacity {
	/* Required for IE 5, 6, 7 ...or something to trigger hasLayout, like zoom: 1; */
	width: 100%; 
	/* Theoretically for IE 8 & 9 (more valid) but not required as filter works too should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	/* This works in IE 8 & 9 too but also 5, 6, 7 */
	filter: alpha(opacity=75);
	/* Older than Firefox 0.9 */
	-moz-opacity:0.75;
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.75;
	/* Firefox 0.9+, Safari 2?, Chrome any?, Opera 9+, IE 9+ */
	opacity: 0.75;
}

#circleContainer {
	width: 600;
	height: 600;
	position: absolute;
    top: 0px;
    left: 50%;
	margin-left: -300px;
	margin-top: 30px;
}





















