/*Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Begin Styles */

body {
	background-image: url(img/background.jpg);
	background-size: 1400px;
	background-repeat: no-repeat;
}

h1 {
	position: relative; top: -110px;
	margin: 10px;
	padding: 10px;
	font-family: "Amatic SC", serif;
	font-size: 60px;
	color: #FFFCE5;
	text-shadow: 1px 1px 3px #888;
}

img {
	float: left;
}

#redream_logo {
	width: 220px;
	height: 220px;
	font-family: 'Amatic SC', cursive;
	font-size: 48px;
	text-align:center;
	line-height: 210px;
	color: #ffffff;
	position: absolute;
	z-index: 2;
}

.instructions {
	font-size: 36px;
	font-family: "economica", sans-serif;
	color: white;
	z-index: 1;
}

.small-instructions {
	font-size: 24px;
	font-family: "economica", sans-serif;
	color: white;
	z-index: 1;
}

#or {
	position: relative; top: 270px; left: 340px;
}

#input-instructions {
	position: relative; top: 170px; left: 240px;
}

#link-instructions {
	position: relative; top: 200px; left: 210px;
}

#small-link-instructions {
	position: relative; top: 200px; left: 210px;
}

#email-instructions{
	position: relative; top: 370px; left: 240px;
}

#small-email-instructions {
	position: relative; top: 370px; left: 240px;
}

#link-box {
	position: absolute; top: 230px; left: 240px;
	width: 200px;
	height: 30px;
	margin: 10px;
	padding: 10px;
	background-color: #b4a66b;
	z-index: 1;
	opacity: 0.90;
	-moz-box-shadow: 0 0 3px 1px #b4a66b;
	-webkit-box-shadow: 0 0 3px 1px #b4a66b;
	box-shadow: 0 0 3px 1px #b4a66b;
}

#email-box {
	position: relative; top: 230px; left: 240px;
	width: 200px;
	height: 30px;
	margin: 10px;
	padding: 10px;
	background-color: #b4a66b;
	z-index: 1;
	font-family: "economica", sans-serif;
	font-size: 20px;
	color: white;
	background-color: #b4a66b;
	border-radius: 5px;
	border: none;
	z-index: 1;
	opacity: 0.90;
	-moz-box-shadow: 0 0 3px 1px #b4a66b;
	-webkit-box-shadow: 0 0 3px 1px #b4a66b;
	box-shadow: 0 0 3px 1px #b4a66b;
}

#email-box:focus {
      outline: 0;
      outline: none;
}

#email-input-button {
	position: relative; top: 200px; left: 260px;
	padding: 6px 8px;
	font-size: 24px;
	font-family: "economica", sans-serif;
	color: white;
	background-color: #d9c78f;
	border: none;
	border-radius: 5px;
	-moz-box-shadow: 0 0 2px 1px #d9c78f;
	-webkit-box-shadow: 0 0 2px 1px #d9c78f;
	box-shadow: 0 0 2px 1px #d9c78f;
	z-index: 1;
}

#dream-text-input-box {
	margin: 0 10px 0 20px;
	padding: 10px;
	width: 100%; 
}

#dream-text-input {
	width: 380px;
	height: 240px;
	position: absolute; top: 140px; left: 125px;
	margin-top: 50px;
	padding: 10px;
	position: relative;
	font-family: "economica", sans-serif;
	font-size: 20px;
	color: white;
	background-color: #b4a66b;
	border-radius: 10px;
	border: none;
	z-index: 1;
	opacity: 0.90;
	-moz-box-shadow: 0 0 3px 1px #b4a66b;
	-webkit-box-shadow: 0 0 3px 1px #b4a66b;
	box-shadow: 0 0 3px 1px #b4a66b;
	-moz-transition: background-color 20s, -moz-transform 20s;
    -webkit-transition: background-color 20s, -webkit-transform 20s;
    -o-transition: background-color 20s, -o-transform 20s;
    transition: background-color 20s, transform 20s;
}

#dream-text-input:hover {
	background-color: #B87F4D;
}

#dream-text-input:focus {
      outline: 0;
      outline: none;
}

#dream-input-button {
	position: relative; top: 160px; left: 260px;
	padding: 6px 8px;
	font-size: 36px;
	font-family: "economica", sans-serif;
	color: white;
	background-color: #d9c78f;
	border: none;
	border-radius: 5px;
	-moz-box-shadow: 0 0 2px 1px #d9c78f;
	-webkit-box-shadow: 0 0 2px 1px #d9c78f;
	box-shadow: 0 0 2px 1px #d9c78f;
	z-index: 1;
}

#dream-input-button:active {
	background-color: #b4a66b;
	-moz-box-shadow: 0 0 2px 1px #b4a66b;
	-webkit-box-shadow: 0 0 2px 1px #b4a66b;
	box-shadow: 0 0 2px 1px #b4a66b;
}

#smallCircle {
	width: 220px;
	height: 220px;
	background-color: #d8ca81;
	border-radius: 50%;
	position: absolute;
    left: 0;
    top: 0;
	-webkit-box-shadow: 0 0 4px 2px #edeab7;
    -moz-box-shadow: 0 0 4px 2px #edeab7;
    box-shadow: 0 0 4px 2px #edeab7;
	z-index: 1;
	
	filter: blur(2px);
  	-webkit-filter: blur(2px);
  	-moz-filter: blur(2px);
  	-o-filter: blur(2px);
 	-ms-filter: blur(2px);
}

#largeCircle {
	width: 530px;
	height: 530px;
	background-color: #d8ca81;
	border-radius: 50%;
	position: absolute;
    left: 90px;
    top: 90px;
	z-index: 0;
	
	filter: blur(2px);
  	-webkit-filter: blur(2px);
  	-moz-filter: blur(2px);
  	-o-filter: blur(2px);
 	-ms-filter: blur(2px);
}

#largeCircleOpacity {
	width: 100%; 
	opacity: 0.75;
}

#circleContainer {
	width: 600;
	height: 600;
	position: absolute;
    top: 0px;
    left: 400px;
	margin-left: -300px;
	margin-top: 30px;
}

#copyBackdrop_container {
	width: 700px;
	height: 274px;
	position: absolute;
    left: 650px;
	margin-left: 0px;
	margin-top: 225px;
	z-index: -1;
}

#copyBackdrop {
	width: 700px;
	height: 274px;
	position: absolute;
	background-color: #000000;
	
	-webkit-box-shadow: 0 0 4px 2px #edeab7;
    -moz-box-shadow: 0 0 4px 2px #edeab7;
    box-shadow: 0 0 4px 2px #edeab7;
	
	filter: blur(2px);
  	-webkit-filter: blur(2px);
  	-moz-filter: blur(2px);
  	-o-filter: blur(2px);
 	-ms-filter: blur(2px);
	z-index: -1;
	
	opacity: 0.15;


}

#copyBackdrop_text {
	font-family: 'Economica', sans-serif;
	font-size: 20px;
	line-height: 120%;
	color: #ffffff;
	padding: 40px 40px 40px 80px;
	/*padding-top:10%;
	padding: 40px 40px 40px 100px;
	position:absolute; 
	top:50%; 
	height:285px; 
	margin-top:142.5px;*/
	z-index: 2;

}

#floater	{float:left; height:50%; margin-bottom:-120px;}
#content	{clear:both; height:240px; position:relative;}


/*
p.bold {
  font-size: 20px;
  font-family: 'Economica';
  font-weight: lighter;
}
 
@-moz-document url-prefix() {
  p.hack {
    font-weight: lighter;
  }
}
*/















