{% extends "base.html" %}

{% block circle_block_body %}
  <div class="large-circle-body">
    <div class="about-header">About ReDream.Us</div>
    <div class="about-content">
        <p><i>Relive your dreams with ReDream</i></p>

        <p>ReDream builds dream montages from vimeo's archival footage.
        Describe your dream and our diligent workers will synthesize an
        audiovisual experience based on the key moments of your memory.
        </p>

        <p>Our system makes use of NLTK, Popcorn.js and many other libraries.</p>
    </div>
  </div>
{% endblock %}

{% set comment_visible_flag = True -%}

{% block comment_block_body %}
  <div class="credit-block">
    <div class="credit-header">Filmmakers: </div>
    <div class="credit-line">Brianna Torres <a href="http://vimeo.com/briannatorres">vimeo.com/briannatorres</a></div>
    <div class="credit-line">Jessica Jones <a href="http://jonesica.com/">jonesica.com</a></div>
    <div class="credit-line">Kortney Ryan Ziegler <a href="http://blackademic.com/">blac(k)ademic.com</a></div>
    <div class="credit-line">Mary Sweeney</div>
  </div>
  <div class="credit-block">
    <div class="credit-header">Design: </div>
    <div class="credit-line">Bret Petersen </div>
    <div class="credit-line">Jennifer Wong <a href="http://mochimachine.org/">mochimachine.org</a></div>
  </div>
  <div class="credit-block">
    <div class="credit-header">Developer</div>
    <div class="credit-line">Matt Ball <a href="http://yosemitebandit.com/">yosemitebandit.com</a></div>
    <div class="credit-line">Takashi Mizohata <a href="http://github.com/beatak/">github.com/beatak</a></div>
  </div>
{% endblock %}

