{% extends "base.html" %}

{% block body %}
<p><i>Relive your dreams with ReDream</i></p>

<p>ReDream builds dream montages from vimeo's archival footage.
Describe your dream and our diligent workers will synthesize an
audiovisual experience based on the key moments of your memory.
</p>

<p>Our system makes use of NLTK, Popcorn.js and many other libraries.</p>

<p>Brianna Torres <a href="http://vimeo.com/briannatorres">vimeo.com/briannatorres</a></p>
<p>Jessica Jones <a href="http://jonesica.com/">jonesica.com</a></p>
<p>Kortney Ryan Ziegler <a href="http://blackademic.com/">blac(k)ademic.com</a></p>
<p>Mary Sweeney</p>
<p>Bret Petersen </p>
<p>Jennifer Wong <a href="http://mochimachine.org/">mochimachine.org</a></p>
<p>Matt Ball <a href="http://yosemitebandit.com/">yosemitebandit.com</a></p>
<p>Takashi Mizohata <a href="http://github.com/beatak/">github.com/beatak</a></p>
{% endblock %}

