<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ReDream.Us - Recreate your dreams through video</title>
    <link href='http://fonts.googleapis.com/css?family=Economica:400,700|Amatic+SC:700' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{% print url_for('static', filename='css/index.css') %}?body=1" />
    {% block head_static %}
    {% endblock %}
		<meta name="description" content="Recreate your dreams through video" />
		<meta name="keywords" content="dream, redream, video, archive" />
  </head>

  <body>
    <div class="small-circle-container">
      <div class="small-circle-background"></div>
      <div class="small-circle-logo">
        <div class="text">ReDream</div>
      </div>
    </div>

    <div class="large-circle-container">
      <div class="large-circle-background"></div>
      {% block circle_block_body %}
      {% endblock %}
    </div>

    {% if comment_visible_flag is defined %}
      <div class="comment-container">
        <div class="comment-background"></div>
        <div class="comment-text">
          {% block comment_block_body %}
          {% endblock %}
        </div>
      </div>
    {% endif %}

    <script src="{% print url_for('static', filename='js/jquery-1.9.1.js') %}?body=1"></script>
    <script src="{% print url_for('static', filename='js/mustache.js') %}?body=1"></script>
    {% block body_static %}
    {% endblock %}
    {# google analytics.. #}
    {% if config['GOOGLE_ANALYTICS'] %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', {{ config['GOOGLE_ANALYTICS']['code'] }}, {{ config['GOOGLE_ANALYTICS']['url'] }});
        ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
