{% extends "base.html" %}

{% block body %}

<p>{{ dream.description }}</p>

{% if dream.montage_incomplete %}
    <p>
        rebuilding your dreamland.. 
        (<span id='render-progress'>0%</span>)
    </p>

    <p>give us your twitter handle and we'll message you when your video's ready</p>
    <input type='text' id='twitter-handle' />
    <input type='submit' value='save' id='twitter-handle-submit' />

{% else %}
    <div id="wrapper" class="video-container"></div>

    {% for clip in dream.clips %}
        <p>
            {{ clip.keyword }}
            ->
            <a href='{{ clip.source_url }}'>{{ clip.source_title }}</a>
        </p>
    {% endfor %}

{% endif %}

{% endblock %} {# /body #}


{% block js %}
{% if not dream.montage_incomplete %}
    <script src="{{ url_for('static', filename='js/popcorn-complete.js') }}"></script>

    <script>
        {# load the clips
        #}
        dream_clips = [
            {% for clip in dream.clips %}
                {
                    mp4_url:  '{{ clip.mp4_url|safe }}'
                    , source_title: '{{ clip.source_title }}'
                    , source_owner: '{{ clip.source_owner }}'
                    , source_url:  '{{ clip.source_url }}'
                    , thumbnail_url: '{{ clip.source_thumbnail_url }}'
                    , keyword: '{{ clip.keyword }}'
                },
            {% endfor %}
        ];
    </script>

{% else %}
    <script>
        {# adjust progress bar
        #}
        $(function() {
            progress_checker = window.setTimeout(function check_progress() {
                $.get('/{{ dream.slug }}/progress', function(data) {
                    if (data.percentage === 1.0) {
                        // refresh the page
                        location.reload();
                    } else {
                        $('#render-progress').html(100*data.percentage + '%')
                    }
                });

                setTimeout(check_progress, 1000);
            }, 1000);

            // fails silently after 30s :/
            window.setTimeout(function() {
                window.clearTimeout(progress_checker);
            }, 30000);
        });
    </script>
{% endif %}

{% endblock %} {# /js #}
