{% extends "base.html" %}

{% block head_static %}
{% endblock %}

{% block circle_block_body %}
  <div class="large-circle-body">
    {% if dream.montage_incomplete %}
      <div class="incomplete-notice">
        <div class="line">Visit this URL again in a bit:</div>
        <div class="box-wrap">
          <input type="text" value="http://redream.us/{{dream.slug}}" />
        </div>
        <div class="line centered">or</div>
        <div class="line">Enter your Twitter handle:</div>
        <div class="box-wrap">
          <input type="text" value="" />
        </div>
        <div class="submit-button-wrap">
          <input type="submit" value="submit" />
        </div>

        <div class="progress-bar">
          <div>Rebuilding your dreamland..</div>
          <div><span id="render-progress">0%</span> done</div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block keyword_block_body %}

{% endblock %}

{% if not dream.montage_incomplete -%}
  {% set comment_visible_flag = True -%}
{% endif -%}

{% block comment_block_body %}
  {{ dream.description }}
{% endblock %}

{% block body_static %}
<script id="tmpl-video-wrap" type="text/template">
  <div id="{% raw %}{{ID}}{% endraw %}"></div>
</script>
<script>
  window.DREAMCLIPS = [
  {% if not dream.montage_incomplete -%}
    {% set counter = 0 -%}
    {% for clip in dream.clips -%}
      {% if counter > 0 -%},{% endif -%}
      {
        clip:  '{{ clip.mp4_url|safe }}',
        title: '{{ clip.source_title }}',
        owner: '{{ clip.source_owner }}',
        page:  '{{ clip.source_url }}',
        thumb: '{{ clip.source_thumbnail_url }}'
      }
      {% set counter = counter + 1 -%}
    {% endfor -%}
  {% endif -%}
  ];

  window.DREAM_KEYWORDS = [
  {% if dream.keywords -%}
    {% set kw_counter = 0 -%}
    {% for kw in dream.keywords -%}
      {% if kw_counter > 0 -%},{% endif -%}
      "{{ kw }}"
      {% set kw_counter = kw_counter + 1 -%}
    {% endfor -%}
  {% endif -%}
  ];


</script>
<script src="{% print url_for('static', filename='js/popcorn-complete.js') %}?body=1"></script>
<script src="{% print url_for('static', filename='js/redreamvideo.js') %}?body=1"></script>
<script src="{% print url_for('static', filename='js/dream.js') %}?body=1"></script>

<script>
$(function() {RedreamVideo.globalMute();});
</script>

{# matt's progress bar abomination #}
{% if dream.montage_incomplete %}
<script>
    $(function() {

        progress_checker = setTimeout(function check_progress() {
            $.get('/{{ dream.slug }}/progress', function(data) {
                if (data.percentage === 1.0) {
                    // refresh the page
                    location.reload();
                } else {
                    $('#render-progress').html(100*data.percentage + '%')
                }
            });

            setTimeout(check_progress, 1000);
        }, 1000);

    });
</script>
{% endif %}

{% endblock %}
