/**
 * webfonts:
 * http://www.google.com/webfonts#UsePlace:use/Collection:Economica|Amatic+SC:700
 */

$type_header: "Amatic SC", display;
$type_body: "Economica", sans-serif;

$text-white: #FFF;/*  #FFFCE5; */
$text-shadow-color: #888;

$circle-color: #d8ca81;
$circle-shadow-color: #edeab7;

$small-circle-diameter: 220px;
$large-circle-diameter: 530px;

$textbox-background-color: #b4a66b;
$submit-background-color: #ddc98f;

